.wpa {
	margin-top: 5px;
}

.wpa-content {
	background: none !important;
	background-image: none !important;
	width: 100% !important;
}
	
.wpa-tabs a {
	border: 0 !important;
}

.wpa a:hover {
	color: #000;
	text-decoration: none !important;
}

.wpa-tabs ul {
	margin: 0px !important;
	padding: 0px !important;
	border: none !important;
}

.wpa-tabs ul li {
	width: auto !important;
	line-height: 1em !important;
	padding: 0px !important;
}

.entry-content th, .comment-content th {
    text-transform: none;
    font-size: 1em;
    text-align: center;
}

.wpa-my-profile {
    border-bottom: 1px solid #EEEEEE;
    font-size: 12px;
    height: 122px;
}

.wpa-profile {
    font-size: 12px;
    height: 130px;
}

.wpa-menu {
	height: 25px;
	margin: 4px 0 4px;
}

.wpa-profile-info {
	float: left;
	padding: 5px 0px;
}

.wpa-profile-info-fieldset {
	float: left;
	width: 290px;
}

.wpa-profile-info .custom-combobox-input {
	width: 120px !important;
}

.wpa-profile-photo {
	height: 120px;
	width: 120px;
	float: left;
	border: 1px solid gray;
	background-repeat: no-repeat;
	background-size: 120px 120px;
	cursor: pointer;
}

#wpa-error-dialog div {
	font-size: 13px;
	line-height: 1.5em;
}

.wpa-profile-photo-default {
	background-image: url(../images/profile-blank.jpg) !important;	
}

#wpaProfilePhoto:hover {
	border: 1px solid blue;
}

#wpa-profile-add-result {
	float: right;
}

#wpa-profile-add-result button {
	font-size: 11px;
	height: 25px;
}

.wpa-profile-field {
	height: 25px;
	padding-top: 5px;
}

.wpa-profile-field label {
    display: inline-block;
    font-size: 11px;
    margin: 0;
    text-align: right;
    white-space: nowrap;
    width: 100px;
}

.wpa-link {
	text-decoration: underline;
	cursor: pointer;
}

.wpa input {
	height: 19px;
	padding: 2px 2px 2px 4px;
	display: inline-block !important;
}

.wpa-profile-field input {
	width: 150px;
	background: none repeat scroll 0 0 #FFFFFF !important;
}

.wpa-add-result-field {
	height: 30px;
	padding-top: 5px;
}

.wpa-add-result-field label {
	width: 125px;
	display: inline-block;
	text-align: right;
	margin: 0px 5px 0px 0px;	
}

.wpa-add-result-field label.required {
	font-weight: bold;
	color: #000;
}

.wpa-add-result-field input {
	padding: 4px;
	height: 17px;
}

.wpa-add-result-field .custom-combobox {
	height: 27px;
}

.wpa-event-info {
	margin: 5px 0px 5px 0px;
}

.wpa-event-info-title {
	padding: 0px 0px 4px 0px;
}

.wpa-event-info div {
	line-height: 1.5em;
}

.wpa-event-info div span {
	display: inline-block;
	margin-right: 6px;
}

#eventInfoName {
	font-size: 14px;
	font-weight: bold;
	color: #787878;
}

#eventInfoDate {
	font-size: 14px;
	color: #a3a3a3;
}

#eventInfoDetail {
	font-size: 14px;
	color: #afafaf;
}

#user-profile-dialog label {
	width: 120px;
	color: gray;
}

.wpa-add-result-field select {
	padding: 4px 4px 4px 4px !important;
	padding-bottom: 4px !important;
	width: 200px;
}

.records-highlight-my-result {
	background-color: yellow !important;
}

.wpa-rank {
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 19px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    width: 20px;
}

.wpa-rank.rank-first {
	background-image: url(../images/circle-green.png);
}

.wpa-rank.rank-top-10 {
	background-image: url(../images/circle-blue.png);
}

.ui-datepicker-trigger {
    cursor: pointer;
    left: -25px;
    position: relative;
    top: 4px;
}

.add-result-help {
	height: 20px;
	width: 20px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	top: 5px;
	background: url(../images/help-icon.png) no-repeat;
}

.column-help {
	height: 20px;
	width: 20px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	top: 5px;
	background: url("../images/question.png") no-repeat scroll 2px 0 transparent;
}

.add-result-cancel-event {
	height: 20px;
	width: 20px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	top: 5px;
	left: -55px;
	background: url(../images/grayx.png) no-repeat;
	
}

.filter-event-name-remove {
    background: url("../images/grayx.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    left: -29px;
    position: relative;
    top: 1px;
    width: 20px;
}

.ui-tabs-panel {
	padding: 0px !important;
}

.wpa-tabs {
	border: none !important;
}

#tabs ul.ui-tabs-nav {
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

.wpa-alert {
	line-height: 1.5em;
}

.wpa-filters {
	float: left;
	width: 800px;
}

.wpa-filters div {
	display: inline-block;
}

.wpa-filters #filterEventName, .wpa-filters #profileFilterEventName {
	width: 190px;
}

.wpa-search-image {
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	top: 3px;
	left: 27px;
	background: url(../images/search.png) no-repeat;
}

#wpa-profile-right {
	float:right;
}

.wpa-records-search {
	float: right;
	margin-top: -6px;
}

.wpa-ac-search input {
    font-size: 13px;
    padding: 5px 0 5px 28px;
    width: 180px;
}

.wpa-search-disabled {
	color: #CCCCCC !important;
}

/** DATATABLE STYLES **/

.datatable-bold-right-gray {
	font-weight:bold; 
	text-align: right;
	color: gray;
}

.datatable-right {
	text-align: right;
}

.datatable-center {
	text-align: center;
}

.datatable-bold {
	font-weight:bold; 
}

table.display tr td, table.display th {
	white-space: nowrap;
	height: 22px;
    line-height: 1;
    vertical-align: middle;
}

table.display th {
    text-align: center;
}

table.display {
	margin: 0px !important;
}

.datatable-icon {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	display: inline-block;
	background-position: 0 4px;
	cursor: pointer;
}

.datatable-icon.garmin {
	background-image: url(../images/garmin.png)
}

.datatable-icon.delete {
	background-image: url(../images/delete.png)
}

.datatable-icon.edit {
	background-image: url(../images/edit.png)
}

.ui-widget-content {
	font-size: 12px;
}

/** CUSTOM WIDGETS **/

.wpa-filters .custom-combobox {
	width: 140px;
}

.wpa-filter-records {

}

.custom-combobox {
    position: relative;
    display: inline-block;
    height: 25px;
}
  
.custom-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  /* support: IE7 */
  *height: 1.7em;
  *top: 0.1em;
}

.filter-highlight {
	background: #F7FF21 !important;
}

.custom-combobox-input {
  width: 97px;
  margin: 0;
  cursor: pointer;
}

input.ui-state-default {
  background: none repeat scroll 0 0 #FFFFFF !important;
}

.ui-autocomplete-category {
  font-weight: bold;
  padding: .2em .4em;
  margin: .8em 0 .2em;
  line-height: 1.5;
}

.ui-tabs {
    padding: 0;
}