table.dataTable tr.odd { background-color: #f4f4f4; }
table.dataTable tr.even { background-color: white; }

table.dataTable tr.odd td.sorting_1 { background-color: #f4f4f4; }
table.dataTable tr.odd td.sorting_2 { background-color: #f4f4f4; }
table.dataTable tr.odd td.sorting_3 { background-color: #f4f4f4; }
table.dataTable tr.even td.sorting_1 { background-color: white; }
table.dataTable tr.even td.sorting_2 { background-color: white; }
table.dataTable tr.even td.sorting_3 { background-color: white; }

.ui-widget-content {
	font-size: 12px;
}